* {
    border: 1px solid green;
}

.big-block {
    width: 95vw;
    height: 75vh;
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}